
*.png
*.html
*.rda
stats/tests.R
Variables/data/meteo20_22.csv
Variables/data/meteo10_19.csv
Variables/data/meteo00_09.csv
Variables/data/meteo90_99.csv
Variables/data/meteo00_09.csv
Variables/data/EVI-MOD13A2-061-results.csv
Variables/data/meteo00_09.csv
Variables/data/meteo_all_brut.csv
Variables/data/meteo_BAL_spei.csv
Variables/data/model/data_model_a2703.csv
Variables/NDVI.html
Variables/NDVI.html
*.csv
